.hero {
  color: white;
}

.bottom-shadow {
  box-shadow: 5px 8px 5px -5px skyblue;
}

/* .left-shadow {
  box-shadow: -5px 0 5px -5px skyblue;
} */

.bg-gradient {
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
}
